@model Ogrenci
@{
    ViewData["Title"] = "OgrenciEkle";
}

<h1>Ogrenci Ekle</h1>

<form id="frmOgrenciEkle" method="post">
    <div class="mb-3">
        <label class="form-label"  >Ad</label>
        <input class="form-control" type="text" id="ad" name="ad" />
    </div>
    <div class="mb-3">
        <label class="form-label">Soyad</label>
        <input class="form-control" type="text" id="soyad" name="soyad" />
    </div>
    <input id="btnOgrenciEkle" type="submit" class="btn btn-success" value="Kaydet" />
</form>

@if (TempData["sonuc"] != null && (bool)TempData["sonuc"]! == true)
{
    <script>
        alert('Öğrenci Ekleme Başarılı');
    </script>
}
else if (TempData["sonuc"] != null && (bool)TempData["sonuc"]! == false)
{
    <script>
        alert('Öğrenci Ekleme Başarısız!');
    </script>
}
@section Scripts{
    <script>
       

        function postOgrenciEkle(){
            var sonUrl=KokUrl+'/ogrenci/ajaxogrenciekle'

                var formData=$('#frmOgrenciEkle').serialize();
                
                $.ajax({
                    url:sonUrl,
                    type:'POST',
                    dataType:'json',
                    data:formData,
                    async:true,
                    success:function (veri){
                        let html='';
                        if(veri){
                            console.log(veri)
                            alert('Öğrenci ekleme işlemi başarılı')
                        }
                        else{
                            console.log(veri)
                            alert('Öğrenci ekleme işlemi başarısız')
                        }
                    },
                    error:function(xhr,status,error){
                        console.log(xhr)
                        console.log(status)
                        console.log(error)
                    }

                    
                })

        }
        document.getElementById('btnOgrenciEkle').onclick=function(e){
            e.preventDefault()
            postOgrenciEkle()
        };
    </script>

}

